$nav : white;
$main: #ff5900;
$font: Arial, sans-serif;
$obycej: #4a4a4a;


//-----------pro nadpisy podtržení-----------//
@mixin podtrzeni{

  margin: 10px auto 0 auto;
  content: "";
  width: 100px;
  background-color:$main;
  display: block;
  height: 3px;

}

@mixin nadpis{
  display: flex;
  justify-content: center ;
  align-items: center ;
  color:white;
  font-family: $font;

}


//-------------container--------------//
@mixin kontainer{

    display: block;
    width: 100%;

    margin: 0 auto;
    padding: 0 15%;
    box-sizing: border-box;
  }


//--------------pro navigaci i responzivita i styly-----------------//
@mixin styl{

  width: 100%;
  position:fixed;
  display:flex;
  font-family: $font;



  height: 50px;
  align-items: center;
  justify-content: right;

  ul{
    margin-right: 20px;
    list-style: none;
    display: flex;
    gap: 30px;

    padding: 0;

  }
  li{

    flex: 0 0 110px;


    border-radius: 20px;
    margin-top:50px;
    padding: 0 4px;
    width: 100px;
    display:inline-block !important;
    text-align: center;
  }

  li a{

    color: $nav;
    text-decoration: none;
    font-size: 25px;
  }
  .fourth{
    &:hover{
      opacity: 0.8;
    }
  }

}


@mixin styl_ikona{
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  width: 41px;
  height: 37px;
  right: 17px;
  top: 7px;
}

@mixin mobil-nav{
  overflow: hidden;
  max-height: 0;


  background-color: $nav;
  width: 100%;
  top:0;
  position: fixed;

  li{
    margin-top:15px;
    background-color: #ffffff;
    color: $nav;
    border: 1px solid rgba(32, 2, 50, 0.82);
    border-radius: 20px;
    padding: 0 20px;
    width: 90%;
    max-width: 300px;
    list-style-type: none;
    text-align: center;
  }
  li a{


    text-decoration: none;
  }

}

//----------logo--------------//
@mixin logostyl{
  width: 345px;
  height: 139px;
  position: fixed;
  left: 30px;
  top: -11px;

}
//----------úvod zarovnání--------------//
@mixin zarovnani{
  width: 40%;
  position: relative;
  left: 15%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 700px;
  font-family: $font;


}
//-------tlačítka--------//
@mixin buttons{

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  a{
    text-decoration: none;
    background-color: $main;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 30px;
  }
  .empty{
    background-color: transparent;
    border: 2px solid $main;
  }
  .empty:hover{
    background-color: $main;
    transition: 0.5s ease-in-out;
  }
  .full:hover{
    background-color: lighten($main,20%);
    transition: 0.5s ease-in-out;
  }


}
//-------------rezervace pruh------------//
@mixin pruh {
  width: 100%;
  position: absolute;

  color: white;
  font-family: $font;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 100px;
  a{
    float:right;
  }

}

//tlačítko
@mixin button{
  color: $main;
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 30px;
  &:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
  }
}


//----------footer----------//
@mixin footer{
  height: 70px;
  .made{
    position:relative;
    top:40%;
  }
  background-color: $obycej;
  p{
    margin-top: 0;
    text-align: center;

    font-family: $font;
    color: white;
  }
  a{
    color: white;
    text-decoration: none;
    &:hover{
      opacity: 0.8;
    }
  }
}

//-------------- MIXINY PRO MOBILNÍ MENU --------------//

@mixin ikonanav {
  width: 70px;
  height: 61px;
  position: absolute;
  right: 2%;
  top: 10px;
}

@mixin mobileopen {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: black;

  // TAHAČ PLYNULOSTI:
  height: 347px;
  opacity: 1;
  overflow: hidden;
  transition: height 0.8s cubic-bezier(0.4, 0, 0.2, 1);

  .cross {
    position: absolute;
    top: 20px;
    right: 20px;
    @include ikonanav;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px 0 0 0;
    margin: 0;

    // !!! TADY JE TA OPRAVA !!!
    visibility: visible !important;
    opacity: 1 !important;

    li {
      margin-bottom: 40px;
      list-style: none;
      width: 100%;
      text-align: center;

      a {
        font-family: $font;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 4px;
          background-color: grey;
          position: absolute;
          bottom: -10px;
          left: 0;
        }
      }
    }
  }
}

@mixin mobileclose {
  height: 85px; // Tohle nech, jestli ti to takhle vyhovuje
  opacity: 1;
  overflow: hidden;
  transition: height 0.6s ease-in-out, opacity 0.3s;

  .hamburger {
    display: block;
    @include ikonanav;
  }

  ul {
    display: flex;
    flex-direction: column;
    visibility: hidden; // Tady to schováme...
    opacity: 0;         // ...a zprůhledníme
  }
}

