@import "mixiny";
.navbar {
  height: 87px;
  ul {
    display: flex;
  }

  ul li {
    flex: 0 0 134px !important;
  }
}
main h1{
  @include nadpis;
  color:black;
  font-size: 44px;
  margin-top: 50px;
}
@mixin chlivky{
  height: 300px;
  background-color: #e6e6e6;
  margin-top:30px;
  h2{

    font-family:$font;

    font-size:27px;
  }
  p{

    font-family:$font;
    font-size:20px;
  }
  a{
   
    color:black;
    font-family:$font;
    font-size:20px;
  }
  img{
    display:inline-block;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    padding:0;
    &:hover{
      transform:  scale(1.2);

      opacity: 1.2;

      transition: transform 0.6s, opacity 0.6s;
    }
  }
}
.chlivky{



  display: grid;
  gap: 30px;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
 text-align: center;
  align-items: center;
  justify-content: center;
  .jedenchlivek, .druhychlivek, .tretichlivek{
    @include chlivky;

  }
}

//---------- FINÁLNÍ SYMETRICKÝ FORMULÁŘ -------------//
.formular {
  background-color: #e6e6e6;
  margin-top: 50px;
  padding: 80px 10%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: stretch;
  justify-content: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  .kontakty {
    width: 100%;
    background-color: $obycej;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

    h1 {
      color: white;
      font-size: 32px;
      text-align: center;
      margin-bottom: 40px;
      margin-top: 0;
    }

    form {
      padding: 0 12%;

      input, textarea {
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        font-family: $font;
        margin: 12px 0;
        padding: 15px;
        border: none;
        border-radius: 5px;
        height: 50px;
      }

      textarea {
        height: 180px;
      }
    }
  }

  .mapa {
    width: 100%;

    iframe {
      width: 100% !important;
      height: 100% !important;
      min-height: 600px;
      border: none;
      border-radius: 10px;
      display: block;
    }
  }
}
//--------------footer--------------//
.konec{
  margin-top:60px;
}
.navbar{
  height: 88px;
}

////tlačitko
.odeslat-btn{
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 16px;
  &:hover{
    background-color: $obycej;
    color: white;
    transition: .5s;
  }
}
