@import "mixiny";
.navbar {
  height: 87px;
  ul {
    display: flex;
  }

  ul li {
    flex: 0 0 134px !important;
  }
}
main h1{
  @include nadpis;
  color:black;
  font-size: 44px;
  margin-top: 50px;
}
@mixin chlivky{
  height: 300px;
  background-color: #e6e6e6;
  margin-top:30px;
  h2{

    font-family:$font;

    font-size:27px;
  }
  p{

    font-family:$font;
    font-size:20px;
  }
  a{
   
    color:black;
    font-family:$font;
    font-size:20px;
  }
  img{
    display:inline-block;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    padding:0;
    &:hover{
      transform:  scale(1.2);

      opacity: 1.2;

      transition: transform 0.6s, opacity 0.6s;
    }
  }
}
.chlivky{



  display: grid;
  gap: 30px;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
 text-align: center;
  align-items: center;
  justify-content: center;
  .jedenchlivek, .druhychlivek, .tretichlivek{
    @include chlivky;

  }
}

//----------formulář-------------//
.formular{
  min-height: 780px;
  padding-bottom: 70px;
  margin-top:20px;
  display: grid;

  grid-template-columns:1.5fr 1fr;
  background-color:#e6e6e6;
  .kontakty{
    min-height: 550px;
    margin-top: 15%;
    margin-left: 15%;
    width:75%;
    h1{
      color:white;
    };
    background-color: $obycej;
  }
  .kontakty form{

    padding: 0 15%;

    input{
      width: 100%;
      max-width: 100%;
      font-size: 20px;
      font-family:$font;

      height: 49px;
      margin: 10px;
    }
    textarea{
      font-size: 20px;
      font-family:$font;
      width: 100%;
      max-width: 100%;
      height:10em;
      margin: 10px;
      resize: vertical;
      overflow: auto;
    }
  }


}
.mapa iframe{
  width: 509px;
  height: 706px;
  margin-top: 145px;

}

//--------------footer--------------//
.konec{
  margin-top:60px;
}
.navbar{
  height: 88px;
}