@import "ostatni";

//pro všechny navigace nebo spíše nadnavigace
@media only screen and (max-width: 1015px){

  .kontakt{
    display:none !important;
  }
  .navbar{
    top: 0 !important;
    width: 100%;
    max-width: 1200px;
  }
}
//rezervace - polička
@media only screen and (max-width: 860px){
  .rezervacepole{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input, textarea, select {
      width: 90%;
      max-width: 500px;
      box-sizing: border-box;

    }
    select{
      font-size: 10px;
    }
  }

}
//lichobeznik
@media only screen and (max-width: 572px){
  .professional h1{
    font-size: 35px !important;
  }
  .lichybeznik{

    clip-path: polygon(6% 0, 92% 0, 75% 100%, 6% 128%) !important;
    p{
      margin-right: 33px !important;

    }
  }
}

///--------responzivita pro kontakt------------//

//pro mapu a kontakty
@media only screen and (max-width: 1300px){
  .formular{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .formular .kontakty{
    margin-left: 0 !important;
  }
  .mapa iframe{
    margin-top: 20px;
  }
}
//nadpis v kontaktu
@media only screen and (max-width: 730px){
  .formular .kontakty{
    h1{
      font-size: 25px !important;
    }
  }
}
//input políča a mapa
@media (max-width: 600px) {
  .mapa iframe {
    width: 100%;
    height: 350px;
    margin: 30px auto 0;
  }
  main h1{
    font-size: 25px;
  }
}
@media only screen and (max-width: 410px){
  .formular .kontakty h1{
    font-size: 16px !important;


  }
  .formular .kontakty form input{
    box-sizing: border-box;
    padding: 0 6% 0 0 !important;
  }
}
@media only screen and (max-width: 879px){
  .chlivky{
    grid-template-columns: auto;
    width: 100%;
  }
}



//-------------responzivita sekce o mně--------------//
@media only screen and (max-width: 1300px) {
  .omne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .grid1 img {
      margin-top: 40px;
      width: 100%;

      height: auto;
    }

    .grid2 {
      margin-top: 40px;
      h1::after {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
@media only screen and (max-width: 1245px){

  .kontaktpruh{
    h1{
      width: 70%;
      font-size: 25px !important;
    }

  }
}
@media only screen and (max-width: 780px){

  .kontaktpruh a {
    width: 30%;
    display:flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px auto 0 auto;




  }
}
@media only screen and (max-width: 424px) {
  .kontaktpruh p {
    width: 70%;
  }
  .kontaktpruh a {
    margin: 294px 100px 0 0;
  }
  .barvicka{
    height: 340px;
  }
}
//-------------responzivita hlavní stránka--------------//
@media only screen and (max-width: 700px){
  .Uvod-sekce{
    h1{
      font-size: 35px !important;
    }
    p{

      font-size: 25px !important;
    }
    .typermain{
      display:block;
    }
    a{
      font-size: 25px !important;
      margin: 5px;
    }
  }
}
@media only screen and (max-width: 1267px) {

  .rezervace {
    a {
      display: block !important;
      position: static;
      padding: 0 15%;
    }

  }


}
@media only screen and (max-width: 780px){
  .barvicka {
    height: 204px ;
    a{
      margin-top: 169px;
      right: 50%;
      left: 15%;

    }

  }
}
.mobil{
  z-index: 9000;
  inset: 0;
  position: fixed;
  background-color: black !important;
  width: 100%;
  height: 80px;
  display: none;

}

//--------------mobil-----------------//

@media only screen and (max-width: 685px){
  .hamburger,
  .cross {
    width: 70px !important;
    height: auto !important;
  }
  .mobil{

    @include mobileclose;
    display:block !important;

    .cross{
      display: none;
    }
  }
  .navbar{
    display:none !important;
  }
  .mobil.dej{

    @include mobileopen();

  }

}

@media only screen and (max-width: 595px) {
  .barvicka {
    height: auto !important;
    padding: 30px 15px !important;
    text-align: center;
  }


  .barvicka .kontaktpruh,
  .barvicka h2,
  .barvicka p,
  .barvicka a {
    position: static !important;
    display: block !important;
    margin: 15px auto !important;
    float: none !important;
    width: auto;
  }
  .kontaktpruh h1{
    width: auto;
  }

  .barvicka a {
    width: fit-content !important;
    padding: 10px 20px;
    display: inline-block !important;
  }
}
@media only screen and (max-width: 1270px) {

  .barvicka.oprava {
    height: auto !important;
    padding: 40px 20px !important;
    display: block !important;
  }


  .barvicka.oprava .rezervace {
    position: static !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    width: 100% !important;
    gap: 15px !important;
  }


  .barvicka.oprava h1 {
    margin: 0 0 10px 0 !important;
  }

  .barvicka.oprava p {
    margin: 0 0 20px 0 !important;
  }


  .barvicka.oprava a {
    position: static !important;
    display: inline-block !important;
    margin: 0 auto !important;
    width: fit-content !important;
  }
}