@import "mixiny";
.navbar{
  height: 90px;
}
@mixin tlac {
  font-size: 20px;
  border-radius: 20px;
  border: 5px solid $obycej;
  padding: 10px;
}
form{

  text-align: center;
  @include kontainer;
  margin-top:50px;
  box-sizing: border-box;
  input, select{
    @include tlac;

    width: 42%;
    margin-top: 10px;
  }
  textarea{
    @include tlac;
     font-family: $font;
    resize: vertical;
    margin-top: 10px;
    width: 90%;
    max-width: 500px;
    height: 200px;
  }
  input[type="submit"]{

    @include  button;
    width: 200px;
    font-size : 20px;

    &:hover{
      transform: scale(1);
      background-color: $main;
      color: white;

    }

  }
  select{
    width: 89%;
    font-family: $font;
  }
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #444;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
